<html>
<head>
<title>
Conversation App
</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"> </script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"> </script>

<script>
var app = angular.module("myApp",  ["ngRoute"]);

app.controller('mycontroller', function($scope,$http) {
	console.log("controller is hit");
	$scope.myData = [];
	$http.get('/firstcall').then(function(response){
			$scope.myData.push(response.data);
	});
	
	$scope.send1 = function(){
        console.log($scope.input.question);
	$scope.myData.push({"question" : $scope.input.question});
	$scope.input.question = " ";
	$http.post('/consecutivecalls',$scope.input).then(function(response){
		console.log('hit');
			$scope.myData.push(response.data);
	});
	}
});


	



</script>
</head>

<body bgcolor="#999966" ng-app="myApp" ng-controller="mycontroller">
<br><br>
<h1 align="center"> Welcome to the chat App </h1>
<br><br>

<form name="myForm" >
<table align="center">
<tr> <td> <div rows="15" cols="50" ng-repeat = "x in myData"> 
<div ng-if = "x.question"> {{x.question}} </div>
<div ng-if = "x.text[0]">
{{ x.text[0]  }}  
</div>
<br> </div> </td></tr>
<br>

<td> <input type="text" ng-model="input.question" / > </td>
<td> <button type="button" ng-click="send1()" > Send </button> </td>

</table>
</form>
</body>
</html>


