<html>
<head>
<title>
Conversation App
</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"> </script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"> </script>

<script>
var app = angular.module("myApp",  ["ngRoute"]);

app.controller('mycontroller', function($scope,$http) {
	console.log("controller is hit");
	$scope.myData = [];
	$http.get('/firstcall').then(function(response){
			$scope.myData.push(response.data);
			console.log(response.data);
	});
	
	$scope.send1 = function(){
        console.log($scope.input.question);
	$scope.myData.push({"question" : $scope.input.question});
	$scope.input.question = " ";
	$http.post('/consecutivecalls',$scope.input).then(function(response){
		console.log('function is hit');
			$scope.myData.push(response.data);
			console.log("response received");
	});
	}
});


	



</script>
</head>

<body bgcolor="#999966" ng-app="myApp" ng-controller="mycontroller">
<br><br>
<h1 align="center"> Welcome to the chat App </h1>
<br><br>



<div style="overflow-y : scroll" align="center" ng-repeat = "x in myData"> 
<font color="red"> <div  ng-if = "x.question"> {{x.question}} </div> </font>
<font color="blue"> <div  ng-if = "x.text[0]">
{{ x.text[0]  }}  
</div>
</font>
</div> 




<br><br><br><br><br><br><br><br><br>
<div>
<table border="0" align="center">
<tr> <td> <input type="text" ng-model="input.question" / > </td> 
<td> <button type="button" ng-click="send1()" > Send </button> </td> </tr>
</table>
</div>

</body>
</html>


