<!DOCTYPE html>
<html>
  <head>
    <title> Sample Application </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style2.css' /> -->
	<!-- <script src="/javascripts/audiodisplay.js"></script> 
	<script src="/javascripts/recorder.js"></script>
	<script src="/javascripts/main.js"></script> -->
	<script src="/javascripts/recorder1.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"> </script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"> </script>
<script>
var app = angular.module('myApp',  ["ngRoute"]);
app.controller('myctr', function($scope, $http) {
         $scope.myData = [];
         $scope.send = function(){    
          $http.get("/speechtotext").then(function (response) {          
          $scope.myData.push(response.data);
	     });
     }
});
</script>

  </head>
  
  
<body bgcolor="#669999" ng-app="myApp" ng-controller="myctr">
  
  <div> <h1 align="center"> Welocme to The Shopping site </h1> <br> </div>

<br><br>
<div>
<table border="0" align="center">
    <tr> <td> <textarea cols="50" rows="15">  {{ myData }} </textarea> </td></tr> 
	<br>
	<tr> <td> <button ng-click="send()" > click </button> </td></tr>
</table>
</div>
<!--
<div align="center" id="controls">
		<img id="record" src="/images/mic128.png" onclick="toggleRecording(this);">
		<a id="save" href="#"><img src="/images/save.svg"></a>
</div>
-->
<br><br>
<audio controls autoplay></audio>
    		<script type="text/javascript" src="recorder.js"> </script>
                    
    		<input onclick="startRecording()" type="button" value="start recording" />
    		<input onclick="stopRecording()" type="button" value="stop recording and play" />
		<script>
    			var onFail = function(e) {
    				console.log('Rejected!', e);
    			};

    			var onSuccess = function(s) {
    				var context = new webkitAudioContext();
    				var mediaStreamSource = context.createMediaStreamSource(s);
    				recorder = new Recorder(mediaStreamSource);
    				recorder.record();

    				// audio loopback
    				// mediaStreamSource.connect(context.destination);
    			}

    			window.URL = window.URL || window.webkitURL;
    			navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    			var recorder;
    			var audio = document.querySelector('audio');

    			function startRecording() {
    				if (navigator.getUserMedia) {
    					navigator.getUserMedia({audio: true}, onSuccess, onFail);
    				} else {
    					console.log('navigator.getUserMedia not present');
    				}
    			}

    			function stopRecording() {
    				recorder.stop();
    				recorder.exportWAV(function(s) {
                                
                                 	audio.src = window.URL.createObjectURL(s);
    				});
    			}
    		</script>

  </body>
</html>
